@use "variables" as *;
// mixins to use


// colour styling

// output-display styling

@mixin black-display {
    background-color: $black;
    color: $white;
}

// button-color-styling
@mixin orange-buttons {
    background-color: $orange;
    color: $white;
    
}

@mixin dark-grey-buttons {
    background-color: $dark-grey;
    color: $white;
}

@mixin light-grey-buttons {
    background-color: $light-grey;
    color: $white;
}
//  button font styling
@mixin button-font-styling {
    font-family: $text-font-family;
    font-size: $button-text-size;
    font-weight: $default-font-weight;
}

@mixin display-output-font-styling {
    @include button-font-styling;
    font-size: calc(1.5 * #{$button-text-size});
    
}
// button shape mixin - customise later
@mixin border-styling {
    border-radius: 50%;
    border: 2px solid $black;
}
// display out styling