// variables list


//Global colour palette
$black: #1e1e1e;
$white: #ffffff;
$orange: #f06423;
$light-grey: #5f5d5d;
$dark-grey: #252525;

//global-font-properties

// font family
// font-families
$text-font-family: "Manrope", sans-serif;

// font sizes

// font-size-display
$display-font-size: 3.5rem;
// font-size-buttons
$button-text-size: 2rem;

// font - weight
$default-font-weight: 400;